[2019-03-08 08:49] kalismeras61 opened #1 "Can we do papers OCR ready?"
Hello,
I tested this plugins, it's detect everything  i just want to detect paper, because if have square in paper it detects firs square :) so i just want to detect paper like WeScan and second  is when detect paper i want to change it black & white  and heigh resolution for OCR ready.

Can you give suggestion?

[2019-04-22 10:13] iamjitendrasinh opened #2 "Detect Edges from gallery"
First of all Thank you for the great lib, and now my question is how to detect edges from gallery (i.e. from existing pic) using this lib?

[2019-05-12 05:45] NTMS2017 opened #3 "I couldn't find he plugin in pub.dev?"
Thanks for great plugin, but I couldn't find plugin in pub.dev. When you gonna publish in pub.dev? Thank you

[2019-05-22 07:23] edismooth commented on #3
You can install that plugin directly from gitgub. You have to add in your pubspec.yam file (in dependencies part):

[code]

[2019-05-30 19:38] JoseMelendez-X opened #4 "Upside down camera in android"
When I run the example version on android. The camera is upside down.

[2019-06-13 02:27] EdisonTKPcom opened #5 "Pod WeScan version Issue"
Xcode's output:
↳
    edge_detection/example/ios/Pods/WeScan/WeScan/ImageScannerController.swift:125:14: error: 'bringSubviewToFront' has been renamed to 'bringSubview(toFront:)'
            view.bringSubviewToFront(blackFlashView)
                 ^~~~~~~~~~~~~~~~~~~
                 bringSubview        toFront:
    UIKit.UIView:17:15: note: 'bringSubviewToFront' was obsoleted in Swift 3

[2019-07-18 19:22] sawankumarbundelkhandi commented on #3
I have published it here - https://pub.dev/packages/edge_detection

[2019-07-19 09:46] limajr commented on #3
Hi Sawan, thanks for the nice work here. I tried - until now without success - to update the plugin to androidx compatibility. Do you think it is possible?

[2019-07-20 16:20] SimonPeter1909 opened #6 "The Android Gradle plugin supports only Kotlin Gradle plugin version 1.2.51 and higher. Project 'edge_detection' is using version 1.2.30."
While Running the Project I got this Error. 'The Android Gradle plugin supports only Kotlin Gradle plugin version 1.2.51 and higher. Project 'edge_detection' is using version 1.2.30.'. I have Changed the kotlin version to 1.2.30 but I got the Error that 'The Android Gradle plugin supports only Kotlin Gradle plugin version 1.2.51 and higher. Project android is using version 1.2.30.'

How can I solv

[2019-07-20 16:57] SimonPeter1909 commented on #6
I have changed the version to 1.2.51 in .pub-chache inside flutter sdk. So the error has been cleared. I'm closing the issue.

[2019-07-20 16:57] #6 closed

[2019-07-22 16:42] DonsWayo opened #7 "Android example not work"
On ios work fine, on android I et this error running the example project

`	at org.jetbrains.kotlin.codegen.FunctionGenerationStrategy$FunctionDefault.doGenerateBody(FunctionGenerationStrategy.java:58)
	at org.jetbrains.kotlin.codegen.FunctionGenerationStrategy$CodegenBased.generateBody(FunctionGenerationStrategy.java:78)
	at org.jetbrains.kotlin.codegen.FunctionCodegen.generateMethodBody(Function

[2019-07-22 17:05] DonsWayo commented on #7
https://stackoverflow.com/questions/53448450/how-to-resolve-error-failed-to-resolve-org-jetbrains-kotlinkotlin-stdlib-jre7/53448758

[2019-07-22 17:05] #7 closed

[2019-08-12 14:55] brap242 commented on #5
Hi,

i have simmilar problem in my flutter project. I got following output:

      A AppCenter
      A Flutter
      A MTBBarcodeScanner
      A WeScan
      A appcenter
      A appcenter_analytics
      A appcenter_crashes
      A barcode_scan
      A edge_detection
      A flutter_secure_storage
      A fluttertoast
      A image_picker
    Downloading dependencies
    -> Installing AppCenter (1

[2019-08-16 14:51] meDerek18 commented on #2
I think detecting edges is what I am looking for. I am starting to look at the Plugin source code to try to find where basic edges are detected. Then it would be up to me to find edges that intersect, at what angle, and side lengths.

[2019-08-24 16:44] firatcetiner commented on #6
Same issue occuring as version with version '1.2.51' and changing it to '1.3.0' (which is the minimum supported version by Gradle in the moment) does not resolve the issue.

[2019-08-26 13:37] mrserfr opened #8 "AndroidX compatibility"
Hi Sawan, thanks for the nice work. Do you think it is possible to update the plugin to androidx compatibility?

[2019-08-30 18:21] kalismeras61 commented on #3
Some one did this. You can look pull request.

[2019-08-30 18:24] kalismeras61 opened #10 "Add some features"
Hello,

Can you add when detect paper then automatically crop images? Like gunnies scan ?

[2019-09-30 18:51] iamriajul commented on #8
Can I contribute to this issue?

[2019-10-08 12:16] os20 opened #11 "Does not specify a Swift version"
Hello,

after embedding the plugin into my project I get the error message:

**Unable to determine Swift version for the following pods:
    - `edge_detection` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod

[2019-10-10 12:26] os20 opened #12 "Attribute application@theme value=(@style/AppTheme)"
Hello,
I have the following problem:
When I integrate the plugin I get the error message:

[code]

The solution offered:

`Suggestion: add 'tools:replace="android:theme"' to <application> element at AndroidManifest.xml:16:5-45:19 to override`

doesn't work.

How can I fix the problem?

[2019-10-15 11:14] Xgamefactory commented on #2
that would be nice addition.

[2019-10-23 18:44] JoseLuisGit opened #13 "I don't know why I get this"
Hi, I get this when I'm debugging and I don't really know what it is

[code]

This does not let me use the library. I hope you can help me

[2019-10-30 13:14] kalismeras61 commented on #13
remove your app and try again.

[2019-11-04 11:49] sawankumarbundelkhandi commented on #13
It's related to OpenCV **.so** files

This might help - https://stackoverflow.com/questions/37180378/android-opencv-error-cannot-load-info-library-for-opencv

[2019-11-04 12:47] AatiqUrRehman opened #14 "AndroidX Support"
is there any way I can migrate this plugin to AndroidX? getting a lot of problems after installing the plugin.

[2019-11-04 13:39] #14 closed

[2019-11-06 19:38] JoseLuisGit commented on #13
thank you for your answers

[2019-11-06 19:38] #13 closed

[2019-11-07 15:15] sawankumarbundelkhandi commented on #3
Updated the code. I will publish it soon.

[2019-11-07 15:15] #3 closed

[2019-11-07 15:15] sawankumarbundelkhandi commented on #8
@mrserfr @iamriajul The code is updated. I will publish it on pub soon.

[2019-11-07 15:15] #8 closed

[2019-11-08 23:30] RodrigoPorras opened #15 "Autofocus doesn't work on some devices"
First of all, i am very grateful with this package, it was so useful and i saved a lot of time. At the implementation i was getting a crash on some old devices that not support autofocus continuos picture, so i modified the code in kotlin and now i can run the app. here is my modification for someone that maybe need it.

[code]

[2019-11-11 09:08] lurkerCha commented on #5
I fixed mine by following this link:
https://github.com/ko2ic/image_downloader/issues/9#issuecomment-471608482

[2019-12-10 07:42] RaiKhurram commented on #12
E:\RamSolutionBackup\remasmith\android\app\src\debug\AndroidManifest.xml:13:9-40 Error:
	Attribute application@theme value=(@style/AppTheme) from [:edge_detection] AndroidManifest.xml:13:9-40
	is also present at [:stripe_payment] AndroidManifest.xml:11:18-74 value=(@style/Theme.AppCompat.Light.NoActionBar).
	Suggestion: add 'tools:replace="android:theme"' to <application> element at AndroidManifes

[2019-12-10 07:42] RaiKhurram commented on #12
i am facing same problem.
E:\RamSolutionBackup\remasmith\android\app\src\debug\AndroidManifest.xml:13:9-40 Error:
	Attribute application@theme value=(@style/AppTheme) from [:edge_detection] AndroidManifest.xml:13:9-40
	is also present at [:stripe_payment] AndroidManifest.xml:11:18-74 value=(@style/Theme.AppCompat.Light.NoActionBar).
	Suggestion: add 'tools:replace="android:theme"' to <application>

[2019-12-17 09:29] surajprasad57 opened #16 "MissingPluginException(No implementation found for method edge_detect on channel edge_detection)"
Hello
 we are getting  MissingPluginException  when we execute below given code

`try {
      imagePath = await EdgeDetection.detectEdge;
    } on PlatformException  catch (e) {
      print(e.toString());
    } on Exception catch (e) {
      print(e.toString());
    }`

we added entry of edge_detection library into pubspec.yml file as given below

` edge_detection: ^1.0.4
 `
one thing we noticed t

[2019-12-17 17:39] sawankumarbundelkhandi commented on #16
@surajprasad57 If it's open-source can you send me the repo link?

[2019-12-17 17:42] sawankumarbundelkhandi commented on #12
If it's open-source can you send me the repo link?

[2020-01-13 07:30] xascis commented on #16
Same problem. If you have file_picker and edge_detect in the same app, file_picker doesn't work properly.

This is how I fixed: https://github.com/xascis/edge_detection/commit/7b4a3f064fe962cb38a6d216db0847dddf900ab9

[2020-01-13 10:19] sawankumarbundelkhandi commented on #16
@xascis @surajprasad57 I am unable to recreate the issue. If you can please share a sample repo then I will fix it.

[2020-02-06 16:18] xascis commented on #16
Just add 'file_picker: ^1.4.3+2' into your project with 'edge_detection'.
Put each one in one button.
And file_picker will not work on Android.

I needed both plugins to let the user to choose between uploading a file from the device (file_picker) or taking a picture (edge_detection)

[2020-04-16 10:50] sawankumarbundelkhandi commented on #16
This is fixed in https://github.com/sawankumarbundelkhandi/edge_detection/pull/18

Thanks to @RodrigoPorras and @xascis

I will release it on pub soon

[2020-04-16 10:50] #16 closed

[2020-04-16 10:52] sawankumarbundelkhandi commented on #15
I have added this fix to the plugin code.
Thanks for the suggestion.

[2020-04-16 10:52] #15 closed

[2020-04-16 13:52] sawankumarbundelkhandi commented on #11
I have fixed this bug. I will soon publish it.

Please test and confirm if it works.

[2020-04-16 13:52] #11 closed

[2020-05-01 12:00] sawankumarbundelkhandi commented on #16
I have just published a new version v1.0.5.
Please try it and let me know if you are still facing the same issue.

[2020-05-01 12:00] sawankumarbundelkhandi commented on #15
I have just published a new version v1.0.5.
Please try it and let me know if you are still facing the same issue.

[2020-05-01 12:00] sawankumarbundelkhandi commented on #11
I have just published a new version v1.0.5.
Please try it and let me know if you are still facing the same issue.

[2020-05-13 04:47] heinhoang opened #20 "loading opencv error"
I do the similar to the [example](https://github.com/sawankumarbundelkhandi/edge_detection/tree/master/example) but it pulls out error:
[code]

[2020-05-13 07:18] sawankumarbundelkhandi commented on #20
Make sure you have included the jnilibs folder. From the error, it seems that the code is not able to find OpenCV

[2020-05-19 13:26] RobyFerro commented on #20
I've found the same error. Why should I include the jnilibs folder? This shouldn't be done automatically?

[2020-06-02 02:38] akshayyadav76 opened #22 "capture multiple images.."
Is it possible to capture multiple images at once and get list of  crop files..

[2020-06-08 20:44] neutrin0x opened #23 "Disable or custom crop and preview screens"
it would be great if we can disable preview and edit/crop screens just to get cropped file right after shot.

[2020-06-21 09:13] AlirezaDaryani opened #24 "Can we have auto capture image when edge detected?"
I need to auto capture image when edge of card detected.
Can you help me for add this function to your plugin?

[2020-06-21 09:28] AlirezaDaryani commented on #20
i have the same error, if we must add some code in android or ios side, you must write it in readme.

[2020-06-21 19:44] sawankumarbundelkhandi commented on #24
It's already there on iOS.

[2020-06-21 19:48] sawankumarbundelkhandi commented on #20
I am not sure if you are running the example app or using the code from example app. If you are running the example app then it should work out of the box.

If you have installed the plugin from the pub.dev and the using the code from example then also it should work as the JNI files are already there in the pub.dev plugin.

[2020-06-22 07:30] AlirezaDaryani commented on #24
I need it in both sides.
your android side work so bad for detection of card.
Are you working on it?

[2020-06-22 07:32] AlirezaDaryani commented on #20
I found the solvation.
this app doesn’t work on emulator bcz no arm detection.
run app in real device in release mode will solve issue.

[2020-06-22 07:36] RobyFerro commented on #20
This is not a real "solution". How can you deploy something without testing it?

[2020-06-22 08:06] sawankumarbundelkhandi commented on #20
@RobyFerro I have tested it on Nexus6p and iPhone6s and it's working fine. If for some reason it's not working on your device then use Device Logcat in android studio and then open the app. If it crashes or throws some error then it will be logged in the Logcat.

[2020-06-22 08:11] RobyFerro commented on #20
@sawankumarbundelkhandi Ok but is tested only in a "demo" app. At the moment is not possible to implement this feature on a custom application.

[2020-06-22 08:13] sawankumarbundelkhandi commented on #20
@RobyFerro I have installed it on a new application (flutter create test_app) from pub.dev and it works.

[2020-06-22 08:14] sawankumarbundelkhandi commented on #24
@AlirezaDaryani there is a PR by @tiagosito for android, maybe you can look at the code.

[2020-06-22 08:36] AlirezaDaryani commented on #20
@sawankumarbundelkhandi Are u test it in emulator?

[2020-06-22 08:38] AlirezaDaryani commented on #24
@sawankumarbundelkhandi It's not a auto capture function from edge detection.

[2020-06-23 10:08] tiagosito commented on #4
It may be that this problem no longer occurs, [I sent a PR](https://github.com/sawankumarbundelkhandi/edge_detection/pull/21) with some resources, and one of those resources was to lock the screen orientation, I realized that the screen was rotating and losing the captured content.

[2020-06-27 15:07] dheerajk27 commented on #2
Wish if this was done.

[2020-06-27 16:53] meDerek18 commented on #2
I was working on this a while ago and I have forgotten the details of how far I got. I think I got something working, but not ideal. I would have to go over old code if you are completely stuck, although I don’t think I have a final answer Sent from Mail for Windows 10 From: dheerajk27Sent: Saturday, June 27, 2020 12:08 PMTo: sawankumarbundelkhandi/edge_detectionCc: meDerek18; CommentSubject: Re:

[2020-07-09 08:16] dheerajk27 commented on #2
Would be great if you can look into the code if you have already tried something.  I saw this email only later as it went to spam, hence reverted only now.

[2020-07-09 22:18] meDerek18 commented on #2
HI,Sorry to say I did not do any more on edge detection after asking that question. I have not done much more on tensor flow lite either. It did look like the original author gave some suggestions on what to do to work on what he termed as ‘computer vision’. Although to follow the suggested steps would be a bit beyond my current capabilities. Reading a bit further it did look like I did some work

[2020-07-14 04:54] pr-1 commented on #24
@sawankumarbundelkhandi The PR created by @tiagosito is crashing the app.

[2020-07-15 08:10] yatindeokar commented on #22
looking for same feature

[2020-07-15 08:19] akshayyadav76 commented on #4
@tiagosito
dude, i thing he has no time to check..
it will be very good if you create new package with your PR and upload it on dart.dev

[2020-07-15 08:39] sawankumarbundelkhandi commented on #4
@JoseMelendez-X Which device are you using? Is it a Pixel or Nexus series?

[2020-07-15 08:48] sawankumarbundelkhandi commented on #4
@akshayyadav76 I will check this on the weekend.

[2020-07-15 10:03] tiagosito commented on #24
Hello @pr-1 could you be more specific?
Here it is working normally, please tell us what is happening to try to identify the problem.

[2020-07-15 19:36] pr-1 commented on #24
Hi @tiagosito ,  Thanks for the response.
I cleared all the cache and after flutter clean it was working fine but still edge detection is not quite accurate.

[2020-07-17 08:20] tiagosito commented on #24
Glad it's working well,
on detection, yes it needs to be improved for Android, it would be good to receive more PR

[2020-07-18 19:07] PraneethChandra18 commented on #2
So, importing a picture from gallery and detecting edges of that picture, is that done? Or will you do that? Btw I really admire your work. This edge_detection package is so helpful, but it would be great if we are able to detect edges of a picture imported from the gallery.

[2020-07-31 06:06] Appstute-Aditya opened #25 "Application gets crashed as soon as the edge_detection method is initiated in flutter."
**Application gets crashed as soon as the edge_detection method is initiated in flutter.**

app/build.gradle :-
compileSdkVersion 28
minSdkVersion 21
targetSdkVersion 28

android/build.gradle :-
 dependencies added -
classpath 'com.android.tools.build:gradle:3.6.3'
 classpath 'com.google.gms:google-services:4.3.3'

Android.manifest :-
<activity>
 android:name=".MainActivity"
            android:co

[2020-08-01 07:07] maciogg opened #26 "Labels in other languages and start camera immediately"
How can I edit labels like Auto, Manual, Edit Scan, Done ... etc.
Is there a way to start camera immediately (without screen shrink and slide up)?

[2020-08-06 10:44] Gramatton commented on #12
Locate and edit your main AndroidManifest.xml file `android/app/src/main/AndroidManifest.xml`

1. Add this line `xmlns:tools="http://schemas.android.com/tools"` to the root **manifest** tag
2. Add these two lines `android:theme="@style/AppTheme"` and `tools:replace="android:theme"` to the **application** tag

In result, you will have the following AndroidManifest.xml:
[code]

[2020-08-10 06:57] anirudh-t4 opened #27 "6,8 edge crop option"
I am using this package extensively for a project and genuinely require a 6 or 8 edge cop option.
Any solution regarding this?

[2020-08-17 12:42] xbadal opened #28 "File not found exception"
I Run the example of this repo and i found file not found exception.

Caused by: java.io.FileNotFoundException: /storage/emulated/0/smart_scanner/crop_1125.jpeg: open failed: EACCES (Permission denied)

[2020-08-18 07:40] 3rsin3rgul commented on #28
Hello,
You need to add permission for android devices. Try to search for permission handler for flutter on google.

[2020-08-19 19:26] 3rsin3rgul opened #29 "Pick from gallery!"
Hello,
I am trying to implement gallery scan option and I made it for iOS version but I am having hard time for Android. Can anyone help me about this? @BugsBunnyBR  @y-okady  @RodrigoPorras  @sawankumarbundelkhandi
Thanks.

[2020-08-20 07:54] PranayRaj2801 opened #30 "App crashes frequently using edge detection"
Fatal Exception: java.lang.RuntimeException
takePicture failed

android.hardware.Camera.native_takePicture (Camera.java)
android.hardware.Camera.takePicture (Camera.java:1564)
android.hardware.Camera.takePicture (Camera.java:1506)
com.sample.edgedetection.scan.ScanPresenter$shut$1.onAutoFocus (ScanPresenter.kt:67)
android.hardware.Camera$EventHandler.handleMessage (Camera.java:1238)
android.os.Han

[2020-08-20 10:13] y-okady commented on #29
@3rsin3rgul
Hello. Unfortunately I don't use this library for Android. I hope everything will go well!

[2020-08-24 15:17] ameeee commented on #29
@3rsin3rgul did you find a solution to pick image from gallery and apply an edge detection on it? I

[2020-08-24 16:01] 3rsin3rgul commented on #29
I created my own plugin. The author not responding to anything.

[2020-08-24 16:02] #29 closed

[2020-08-24 16:36] ameeee commented on #29
@3rsin3rgul can you share it?

[2020-08-31 07:37] parth0078 commented on #28
File not found exception occur in IOS Please help

[2020-08-31 07:56] sawankumarbundelkhandi commented on #28
@parth0078 @xbadal Use this plugin before calling Edge detection - https://pub.dev/packages/permission_handler

Check for Camera and Storage permission and if not granted don't call the Edge detection.

[2020-08-31 10:17] parth0078 commented on #28
hi @sawankumarbundelkhandi  I added following permission in info.plist for IOS .
<key>NSCameraUsageDescription</key>
    <string>Allow to use camera</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow to use media</string>

again same Error occur

[2020-09-15 09:19] parth0078 commented on #22
i done this in my app using list .
and i also convert image to pdf and then store multiple images(pages) in PDF

[2020-09-15 09:20] parth0078 opened #31 "auto flash for IOS"
auto Flash working on android perfect .
but For IOS any way to achieve this?
@sawankumarbundelkhandi

[2020-09-17 20:45] CellCS opened #32 "iPadOS widget is not taking whole screen"
In iPadOS, interface is not taking correct screen size.

Test in iphone 7plus, has no this issue.

For iPadOS, whether this issue may come from WeScan? thanks.

![IMG_0026](https://user-images.githubusercontent.com/16886624/93526187-17f05300-f905-11ea-9891-646518fcf50d.PNG)

![IMG_0027](https://user-images.githubusercontent.com/16886624/93526191-19218000-f905-11ea-9947-b3eda77880b7.PNG)

[2020-09-17 23:00] Hesamedin opened #33 "Caused by: java.io.FileNotFoundException: /storage/emulated/0/smart_scanner/crop_1513.jpeg: open failed: ENOENT (No such file or directory)"
Hi, I am using the latest version of this library.
This is my code which is based on the sample.
[code]
After running the code on my device, Camera displays, I accept two permission it requests for, take a picture, crop it and once I click on the done button then the app crashes. When I check my internal files, I confirm there is no such a folder.

[code]

[2020-09-18 01:30] Hesamedin commented on #33
Shoot, the problem was I had changed compileSdkVersion and tragetSdk to be 30 while I was testing on API 28.
Super misleading error.

[2020-09-18 01:30] #33 closed

[2020-09-21 15:51] CellCS opened #35 "Camera does not work on Android Tablet with android-arm64 • Android 9 (API 28)"
Google pixel works, but tablet does not work

[code]

![androidtablet-issue](https://user-images.githubusercontent.com/16886624/93790163-ba0f8400-fc00-11ea-9834-e1952722afd8.png)

[2020-09-21 15:56] CellCS commented on #22
Currently, I am trying:  taking a photo with edge-detect, then do auto-B&W, but android tablet does not work on camera with this plugin, and IOS interface is smaller compared to screen size, any ideas? Thanks

[2020-09-22 03:22] Allviss0211 commented on #2
@meDerek18 can you help me to use tensorflow and opencv to detect edge, I using Edge_detection but it it doesn't work really well

[2020-09-22 17:09] meDerek18 commented on #2
Sorry, after looking into edge detection a year or more ago, I have not done anything.

I think I sort of, got the basics to work, but I would not know enough to help.

Sent from my iPhone

[2020-09-24 07:14] sumit03111988 opened #36 "Do we have 6 or 8 edge detection"
Your work is too good. Do we have 6 or 8 edge detection.?

Can you please guide me how I can achieve, also its not working accurately while scanning any paper or document.

How can I get the accurate auto edge detection while scanning any document.

[2020-09-24 07:16] sumit03111988 opened #37 "Edge detection while scanning Paper"
Your work is too good. Do we have 6 or 8 edge detection.?

Can you please guide me how I can achieve, also its not working accurately while scanning any paper or document.

How can I get the accurate auto edge detection while scanning any document.

[2020-09-24 07:29] sawankumarbundelkhandi commented on #37
duplicate of https://github.com/sawankumarbundelkhandi/edge_detection/issues/36

[2020-09-24 07:29] #37 closed

[2020-09-24 07:30] sawankumarbundelkhandi commented on #36
duplicate of https://github.com/sawankumarbundelkhandi/edge_detection/issues/27

[2020-09-24 07:30] #36 closed

[2020-09-24 09:42] sawankumarbundelkhandi commented on #30
It looks like this - https://stackoverflow.com/questions/21723557/java-lang-runtimeexception-takepicture-failed. Are you clicking the capture button multiple times?

Also, Make sure the permission to camera is given. In next release I will handle that in the plugin itself to ask for permission if not given.

[2020-09-24 09:45] sawankumarbundelkhandi commented on #25
If it's open source share the repo link please.

[2020-10-06 12:46] nikolaychernov commented on #33
This really shouldn't be closed, Google Play will require updates to have targerSdk 29+ from 2 November 2020 https://developer.android.com/distribute/best-practices/develop/target-sdk#pre10.

[2020-10-06 12:55] nikolaychernov opened #38 "Saving picture fails on Android 10+"
As described in #33, saving a picture on Android results in

E/AndroidRuntime(21257): Process: com.ome.dietgene.dev, PID: 21257
E/AndroidRuntime(21257): java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
E/AndroidRuntime(21257): 	at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:526)
E/AndroidRuntime(21257): 	at com.android.internal.os.ZygoteInit.

[2020-10-06 16:07] Amitbhave commented on #20
This is the error that I am getting on emulator.

D/OpenCV/StaticHelper( 7463): Trying to get library list
E/OpenCV/StaticHelper( 7463): OpenCV error: Cannot load info library for OpenCV
D/OpenCV/StaticHelper( 7463): Library list: ""
D/OpenCV/StaticHelper( 7463): First attempt to load libs
D/OpenCV/StaticHelper( 7463): Trying to init OpenCV libs
D/OpenCV/StaticHelper( 7463): Trying to load library

[2020-10-07 20:15] Hesamedin commented on #20
I have the same problem. I cannot test my app on emulators at all but I am able to test on a real device. So, I test it on my device always. I tested on a few devices such as Pixel 2, Pixel 3, Pixel XL.

[2020-10-07 20:29] sawankumarbundelkhandi commented on #20
@Amitbhave, @Hesamedin I have never tested this plugin on an android emulator or ios simulator. I have always run it on a real device.

[2020-10-07 20:30] sawankumarbundelkhandi commented on #38
I will update the target soon.

[2020-11-04 16:53] Hesamedin opened #39 "How to customise the take picture icon on Camera preview screen?"
It would be great if I can replace the icon you already defined on the scanning screen with what is close to my branding or at least change its color. Is it possible?

If not then please consider it as a feature request.
Thanks for the awesome, job.

[2020-11-16 19:47] Hesamedin commented on #38
@sawankumarbundelkhandi Please add the solution, that has mentioned in your link,  to the Readme file ASAP! I stuck in this issue and that line helped me. Thank you.

[code]

[2020-11-30 11:35] sampkme opened #40 "Error building IOS app"
[!] CocoaPods could not find compatible versions for pod "edge_detection":
      In Podfile:
        edge_detection (from `.symlinks/plugins/edge_detection/ios`)
    Specs satisfying the `edge_detection (from `.symlinks/plugins/edge_detection/ios`)` dependency were found, but they required a higher minimum deployment target.
    /Library/Ruby/Gems/2.6.0/gems/molinillo-0.6.6/lib/molinillo/resolutio

[2020-12-07 07:26] agent515 opened #41 "Exception: java.lang.RuntimeException: setParameters failed"
I copied the required OpenCV folders in the project. When I started the application, I stumbled upon the error below.
It is pointing to Camera.java which is a native implementation, invoked by initCamera in ScanPresenter.kt.

@sawankumarbundelkhandi  Can you suggest a solution?

[code]

[2021-01-09 14:52] hcaz commented on #39
You can see we made changes to the button asset on android in our fork, so you could replicate that yourself with your own asset https://github.com/ProbablyRational/edge_detection

[2021-01-11 11:35] davidmarogy opened #42 "Gradle task 'assembleDebug' FAILURE: Build failed with an exception."
Hello,

i tried using the demo plugin in a new Flutter Project. Unfortunaly if i run my project i always get the error :

Running Gradle task 'assembleDebug'...
e: /home/dave/.pub-cache/hosted/pub.dartlang.org/edge_detection-1.0.5/android/src/main/kotlin/com/sample/edgedetection/scan/ScanPresenter.kt: (39, 1): Class 'ScanPresenter' is not abstract and does not implement abstract member public abst

[2021-01-12 12:43] davidmarogy commented on #42
Well i found out that the problem was the gradle plugin. My gradle plugin for my project was 4.1.0 and in the example it was 3.5. No it is building correctly but neverless it is deprecated. Would be nice to have an fix to use it also on the newest gradle version.

[2021-01-25 05:44] Appstute-Prerna opened #43 ""saveAttributeDataForStyleable" static method not found"
When I initiate edge_detection plugin app crashes showing following error:

 java.lang.NoSuchMethodError: No static method saveAttributeDataForStyleable(Landroid/view/View;Landroid/content/Context;[ILandroid/util/AttributeSet;Landroid/content/res/TypedArray;II)V in class Landroidx/core/view/ViewCompat; or its super classes (declaration of 'androidx.core.view.ViewCompat' appears in /data/app/com.sm

[2021-02-04 15:34] UlanNurmatov opened #44 "Image is not displayed on the cropper screen. Black screen."
Image is not displayed on the cropper screen.
https://user-images.githubusercontent.com/41744054/106915480-404fe100-6730-11eb-8d49-880482c0b045.mp4

[2021-03-04 05:52] CellCS commented on #35
Fix with handle camera error.

![image](https://user-images.githubusercontent.com/16886624/109917787-e3d6d780-7c83-11eb-838a-44bfa2a256be.png)

[2021-03-20 11:14] herrmayr opened #46 "iPad OS 14: orientation in camera view wrong in landscape mode"
The camera view in iOS (14, I can't check other versions currently) is rotated by 90 degrees when the device is in landscape mode.
When in portrait mode, the view is correct.

--> the camera view should rotate to correspond to the device's orientation

[2021-03-24 12:24] wleorule commented on #44
Is that on huawei phone? I'm getting this issue only on huawei phones :/

[2021-03-24 18:01] UlanNurmatov commented on #44
It's on Xiaomi Redmi 4

[2021-03-25 16:04] wleorule commented on #44
did you try google resetting cache on google play services app?

[2021-03-29 19:04] UlanNurmatov commented on #44
Tried deleting cache, but it didn't help.

[2021-04-28 08:07] prashant-confidosoft opened #47 "Add support for Flutter 2.0"

[2021-05-06 07:22] giapnhgc commented on #47
It work perfect in flutter 2.0.3

[2021-05-06 15:03] espbee commented on #47
It does work fine. Beyond that, if you're looking for null safety, I just tried forking the package and running the migration tool myself. It made like four changes and it's perfect.

[2021-05-11 07:34] sawankumarbundelkhandi commented on #47
I just installed it on a new project and I am running the latest beta version of flutter and it's working

![image](https://user-images.githubusercontent.com/10863510/117776469-3ff84200-b259-11eb-9188-d982f88d74c5.png)

![image](https://user-images.githubusercontent.com/10863510/117776576-5acab680-b259-11eb-856f-9d4d3a687188.png)

[2021-05-11 07:39] sawankumarbundelkhandi commented on #43
Do you think this will fix your issue?

https://github.com/RevenueCat/purchases-flutter/issues/117#issuecomment-732325386

[2021-05-11 08:43] sawankumarbundelkhandi commented on #39
@Hesamedin I hope @hcaz comment helps. Please reopen if needed.

[2021-05-11 08:48] sawankumarbundelkhandi commented on #35
Closing the issue as I have merged your PR.

Will release a new version of plugin.

[2021-05-11 08:48] #35 closed

[2021-05-11 08:59] sawankumarbundelkhandi commented on #41
The issue has been fixed with this PR - https://github.com/sawankumarbundelkhandi/edge_detection/pull/45

You can use it directly from Github in pubspec like
edge_detection:
    git: https://github.com/sawankumarbundelkhandi/edge_detection.git

I will update the plugin on pub soon.

[2021-05-11 08:59] #41 closed

[2021-05-11 09:17] sawankumarbundelkhandi commented on #47
@espbee can you do a PR if you have successfully migrated to null safety?

[2021-05-11 20:05] espbee commented on #47
@sawankumarbundelkhandi done, but when you look at it you'll see how extremely modest the changes really are. i did run it on my physical iPhone and it works great.

what seems to remain also though is updating the android classes, like this: https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects

i looked at it real quick, but haven't done that before and don't have time to t

[2021-05-12 13:23] sawankumarbundelkhandi commented on #47
@espbee I have merged the code from your master branch to this project master with this PR - https://github.com/sawankumarbundelkhandi/edge_detection/pull/48

[2021-05-12 13:23] #47 closed

[2021-05-12 15:09] sawankumarbundelkhandi commented on #42
I have updated the compileVersionSdk and Gradle version.

Thanks for reporting it.

[2021-05-12 15:09] #42 closed

[2021-05-12 18:22] sawankumarbundelkhandi commented on #32
@CellCS can you check if setting this works for you?

https://github.com/honzakeller/edge_detection/blob/master/ios/Classes/HomeViewController.swift#L14

[2021-05-12 19:22] CellCS commented on #32
Hi @sawankumarbundelkhandi

 👍wonderful!!! Solved.  Tested by iPad 6th iPadOS 14.4.2.

Thanks

[2021-05-12 19:26] #32 closed

[2021-05-12 20:13] sawankumarbundelkhandi commented on #20
@Amitbhave @AlirezaDaryani @heinhoang  Can you please try it on an x86_64 emulator? I believe you are getting this error as the plugin doesn't include x86 openCV files.

![image](https://user-images.githubusercontent.com/10863510/118038290-8dc19700-b38c-11eb-81e0-afde67d088bf.png)

[2021-05-12 20:14] sawankumarbundelkhandi commented on #20
Here is the screenshot of the example app running on the Android SDK 30 x86_64 emulator. I have given my configuration screenshot as well

![image](https://user-images.githubusercontent.com/10863510/118037824-fb20f800-b38b-11eb-9569-40b4f5151d76.png)

![image](https://user-images.githubusercontent.com/10863510/118037990-2dcaf080-b38c-11eb-9261-6a45ee256241.png)

[2021-05-12 20:20] sawankumarbundelkhandi commented on #22
@akshayyadav76 @yatindeokar you can have a look at this fork - https://github.com/chanclbs/edge_detection

[2021-05-12 20:24] sawankumarbundelkhandi commented on #38
@Hesamedin I have added this tag in the plugin AppManifest.xaml and updated the targetSDK to 30.

[2021-05-12 20:25] sawankumarbundelkhandi commented on #38
closing this as it's very similar to - https://github.com/sawankumarbundelkhandi/edge_detection/issues/28

[2021-05-12 20:25] #38 closed

[2021-05-12 20:58] sawankumarbundelkhandi commented on #4
@JoseMelendez-X Can you try now? Let me know if the issue is still there.

You can use it directly from Github in pubspec like
edge_detection:
git: https://github.com/sawankumarbundelkhandi/edge_detection.git

[2021-05-12 21:13] sawankumarbundelkhandi commented on #30
This is fixed in @vmwsree https://github.com/sawankumarbundelkhandi/edge_detection/pull/34. I will try to merge it soon.

[2021-05-15 08:19] sawankumarbundelkhandi commented on #20
I have added x86 files as well to the project. and It should work now.

You can use it directly from Github in pubspec.yaml like
edge_detection:
git: https://github.com/sawankumarbundelkhandi/edge_detection.git

[2021-05-15 08:19] #20 closed

[2021-05-15 10:06] sawankumarbundelkhandi commented on #2
try

https://github.com/xbo1/flutter_smart_cropper or https://github.com/MTschannett/image_feature_detector

[2021-05-28 21:14] jusuf-el commented on #30
Adding android:requestLegacyExternalStorage="true" to Manifest file under <application... fixed my issue on Android. Still facing the crashing on iOS device.

[2021-06-09 05:44] EdTengHR opened #50 "ENOENT file not found error on Android 11 emulator"
Hi, when I run the example code on an emulator using Android 11, as soon as the save button is pressed, the app crashes, giving this error log:

E/CropActivity( 8333): Saved touched!
D/AndroidRuntime( 8333): Shutting down VM
E/AndroidRuntime( 8333): FATAL EXCEPTION: main
E/AndroidRuntime( 8333): Process: com.example.edge_detection_test, PID: 8333
E/AndroidRuntime( 8333): java.lang.RuntimeException

[2021-06-09 10:45] sawankumarbundelkhandi commented on #50
@tengh1 can you check this issue? - https://github.com/sawankumarbundelkhandi/edge_detection/issues/33

[2021-06-10 06:51] tengh1 commented on #50
I've checked it out, and that doesn't seem to be the cause of this problem. My API version, compileSDK and targetSDK versions are all 30. I think the problem may have something to do with scoped storage that Android 11 uses.

[2021-06-16 09:12] tengh1 commented on #50
Tested with lower versions of Android emulator, and the plugin works, so I suppose it is an Android 11 problem...

[2021-07-16 18:30] gamalielCastro opened #51 "The apk size is large when is forked"
Hi, I forked this repo for do some changes of color, assets, etc.
But when I added my repo to the pubspec.yaml file and build the apk, the size was around 100MB
then I deleted jniLibs\x86 and jniLibs\x86_64 folders and the size reduce considerably to 50MB.

What another folder is necesary delete for final release?

[2021-07-20 17:39] omarsve opened #52 "OpenCV library not loading"
Hi I'm trying to work with edge detection, it used to work but i upgraded flutter to 2.2.2 and stopped working, running the app in the device wont detect any edge and in the bundle in the play store will make the app crash

`D/OpenCV/StaticHelper(22192): Trying to get library list
E/OpenCV/StaticHelper(22192): OpenCV error: Cannot load info library for OpenCV
D/OpenCV/StaticHelper(22192): Library

[2021-07-20 17:52] gamalielCastro commented on #50
I have the same issue on andorid 11.
I have  investigated and seems to be that `android:requestLegacyExternalStorage="true"` now  is ignored.

[Here ](https://stackoverflow.com/questions/66642726/java-io-filenotfoundexception-open-failed-eexist-file-exists-android-11)more info.

[2021-07-21 20:56] omarsve opened #53 "Crash in release"
Hi, my app in debug its working smoothly but when i release the app its crashing when I open the scanner

Flutter: v2.2.3
NDK: 21.4.7075529
Compile SDK Version: 30

`
2021-07-21 14:54:10.798 31887-31887/? D/OpenCV/StaticHelper: Trying to get library list
2021-07-21 14:54:10.801 31887-31887/? E/OpenCV/StaticHelper: OpenCV error: Cannot load info library for OpenCV
2021-07-21 14:54:10.801 31887-3188

[2021-07-21 20:57] #52 closed

[2021-07-21 20:58] omarsve commented on #52
I realized my issue its not the opencv library.

[2021-07-22 16:44] gamalielCastro commented on #53
is the same as issue #20

[2021-07-22 19:46] omarsve commented on #53
Its not the same issue because there it gets
`D/OpenCV/StaticHelper( 3440): Cannot load library "opencv_java3"
`

and in my case the library loads just fine
`2021-07-21 14:54:10.844 31887-31887/? D/OpenCV/StaticHelper: Library opencv_java3 loaded
`

[2021-09-14 09:04] jhubar opened #57 "The plugin `edge_detection` uses a deprecated version of the Android embedding."
To avoid unexpected runtime failures, or future build failures, try to see if this plugin supports the Android V2 embedding. Otherwise, consider removing it since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to the V2 embedding: https://flutter.dev/go/android-plugin-migration.

[2021-09-27 11:00] Osmancn opened #58 "[Android]'minBy((T) -> R): T?' is an error. Use minByOrNull instead."
e: /Users/osmancan/flutter/.pub-cache/hosted/pub.dartlang.org/edge_detection-1.0.6/android/src/main/kotlin/com/sample/edgedetection/processor/PaperProcessor.kt: (139, 21): Using 'minBy((T) -> R): T?' is an error. Use minByOrNull instead.
e: /Users/osmancan/flutter/.pub-cache/hosted/pub.dartlang.org/edge_detection-1.0.6/android/src/main/kotlin/com/sample/edgedetection/processor/PaperProcessor.kt: (

[2021-10-02 14:20] sawankumarbundelkhandi commented on #30
@PranayRaj2801 this is fixed and I will release it soon on pub.

[2021-10-02 14:20] #30 closed

[2021-10-02 15:08] sawankumarbundelkhandi commented on #50
@EdTengHR @gamalielCastro can you try again from the repo? I have merged the PR https://github.com/sawankumarbundelkhandi/edge_detection/pull/55 that fix the issue with scoped storage

[2021-10-02 15:08] #50 closed

[2021-10-02 16:19] #57 closed

[2021-10-02 16:21] sawankumarbundelkhandi commented on #57
This is fixed by PR https://github.com/sawankumarbundelkhandi/edge_detection/pull/59 and I will release it soon on pub.

[2021-10-03 12:00] GreyCardinalRus commented on #58
Me too.
How fix it?

[2021-10-03 12:04] Osmancn commented on #58
İ didnt

[2021-10-10 18:47] Ryanmtate opened #61 "The plugin `edge_detection` uses a deprecated version of the Android embedding."
Received the following error while building:

Appears to cause the application to fail when saving the cropped image. Resulting in the error:

Can provide full trace if needed.

[2021-10-12 09:10] jhubar commented on #61
I think this issues was solved (see https://github.com/sawankumarbundelkhandi/edge_detection/issues/57). They soon be released in pub dev

[2021-10-13 00:36] #61 closed

[2021-10-15 06:23] Zhanerkeb opened #62 "Please, update pub.dev"
Now the version in pub.dev has bugs according to FileNotFound exception and migration to Android V2

[2021-10-15 07:06] kiwinam commented on #53
Hi, I had the same symptoms as you, but I just came back from fixing it and I'm going to let you know.
If you only have crash in release, aren't you using prograud?

I think I can't get the necessary method from edge_detection because I obfuscate the method in Progard and obfuscate the native method.
So I solved this problem with a few settings.

1. Add this code line under android > app > proguar

[2021-10-15 16:20] sawankumarbundelkhandi commented on #62
@Zhanerkeb I will publish it soon. I have 2 pending PR's to merge then I will release a new version.

Meanwhile, you can use it directly from Github like this

In pubspec, specify dependency like below

edge_detection:
    git:
      url: git://github.com/sawankumarbundelkhandi/edge_detection.git

Check git dependency section here for more information - https://flutter.dev/docs/development/package

[2021-10-15 17:17] Zhanerkeb commented on #62
@sawankumarbundelkhandi I forked your repo, however it is too big. I have built apk, its size almost 120mb

[2021-10-16 08:07] sawankumarbundelkhandi commented on #51
@zarulizham it's here - edge_detection/android/src/main/jniLibs

[2021-10-16 08:08] sawankumarbundelkhandi commented on #62
@Zhanerkeb I will mark it as duplicate of https://github.com/sawankumarbundelkhandi/edge_detection/issues/51

[2021-10-16 08:08] #62 closed

[2021-10-16 10:06] Zhanerkeb opened #63 "Filter doesn’t work on iOS"
I tried to set black and white filter to image. After saving noticed that filter doesn't work

[2021-10-16 11:39] #63 closed

[2021-10-16 13:09] #58 closed

[2021-10-16 13:12] sawankumarbundelkhandi commented on #46
@henryleunghk it looks like this is a bug in the WeScan itself which is used in this library.
When that issue is fixed it will be fixed automatically - https://github.com/WeTransfer/WeScan/issues/216

[2021-10-16 13:17] sawankumarbundelkhandi commented on #40
Updating your podfile platform to platform :ios, '10.0'  should fix the issue - https://stackoverflow.com/a/40043056/5149803

[2021-10-16 13:17] #40 closed

[2021-10-16 13:18] sawankumarbundelkhandi commented on #10
@kalismeras61 It's there now on iOS. Will check on android.

[2021-10-16 13:20] sawankumarbundelkhandi commented on #24
it's duplicate of https://github.com/sawankumarbundelkhandi/edge_detection/issues/10

[2021-10-18 05:16] zarulizham commented on #44
Seems happened to Oppo Android 8.0 as well.

[2021-10-20 10:43] zubers1128 opened #64 "Cropped image taking unwanted extra space"
Hi Team,

Facing an issue with android devices.

After plotting edge points on scanned image, The resultant image is different from the one selected with edges i.e The image appears to be taking an extra space from top and cuts out the image from bottom.

[2021-10-20 12:01] sawankumarbundelkhandi commented on #64
screeshots?

[2021-10-26 04:22] Zhanerkeb opened #65 "Layout failed on iOS 15"

[2021-10-26 19:34] romaingyh opened #66 "iOS Crop orientation issue"
Hello,

### Description

Since commit 2de131a2834017311c4ac35fa4f0a892d0bb9f15 (10 days ago) and addition of image picker for iOS, I've an orientation issue when cropping as you can see in video below :

https://user-images.githubusercontent.com/11901536/138948441-2cb28e57-bb59-44c6-b5a2-df8c65e60587.mov

Important note : it's happen only when picture is take automatically. If I take the picture m

[2021-10-29 09:40] maltemedocs opened #67 "Small user test result: User guidance missing at crop step"
I'm currently evaluating edge_detection for a proprietary app and had the chance to do a small user test, running the current git version (as necessary to be compatible with flutter 2.3.2).

The plugin overall worked great. But this step was problematic:

![Screenshot_1635499534](https://user-images.githubusercontent.com/71251334/139412469-16d11d96-f08f-42e2-89e3-47956cb4e7a1.png)

The users were

[2021-11-07 17:09] espbee commented on #62
Hi @sawankumarbundelkhandi -- I appreciate the situation and don't mean to rush you. I'm trying to actually release a project soon. I don't mean to bug you at all, just trying to understand a timeline for when you may publish? I'd also be happy to help if you need anything--

[2021-11-08 10:50] sawankumarbundelkhandi commented on #65
@Zhanerkeb  can you add some screenshot?

[2021-11-08 10:53] sawankumarbundelkhandi commented on #67
@maltemedocs PR are welcomed. You can add a FAB on the bottom center and use the same listener as for the crop icon.

[2021-11-09 10:48] sawankumarbundelkhandi commented on #51
@gamalielCastro you can delete all the folders except armeabi-v7a and arm64-v8a. These are the only two ABIs I use while publishing the plugin.

https://android.stackexchange.com/a/213663

When running on an emulator you have to keep the x86 or x86_64, based on your emulator architecture.

[2021-11-09 10:48] #51 closed

[2021-11-09 10:50] sawankumarbundelkhandi commented on #1
This is implemented in both Android and iOS. You can change the image to black and white.
Please try 1.0.7 from the pub.dev

[2021-11-09 10:50] #1 closed

[2021-11-10 08:16] sawankumarbundelkhandi commented on #28
@xbadal check this - https://stackoverflow.com/a/57804657/5149803

[2021-11-10 08:16] #28 closed

[2021-11-10 08:18] sawankumarbundelkhandi commented on #5
@EdisonTKPcom if @lurkerCha comment has not fixed your issue then reopen it.

[2021-11-10 08:18] #5 closed

[2021-11-10 08:22] sawankumarbundelkhandi commented on #12
closing as someone answered on StackOverflow as well - https://stackoverflow.com/a/66710028/5149803

[2021-11-10 08:22] #12 closed

[2021-11-10 12:19] sawankumarbundelkhandi commented on #65
@Zhanerkeb I have no idea where it's going wrong for you.
Closing this issue as it's working as expected (screenshots below)

![1](https://user-images.githubusercontent.com/10863510/141111731-ee656d38-64ee-4971-8886-0fccda713f33.png)
![2](https://user-images.githubusercontent.com/10863510/141111738-87d3af1a-d3a5-4452-b344-95589a336522.png)
![3](https://user-images.githubusercontent.com/10863510/14

[2021-11-10 12:19] #65 closed

[2021-11-29 13:45] TobiKick commented on #66
Hello,

I experience the same issue, while testing on a real iOS device.
The only difference for me is that the issue also arises when taking a picture manually.

Thank you so much! :)

[2021-12-05 21:04] LPOYO commented on #66
Hello,

Actually sometimes I've also the issue when taking picture manually.
But as this issue seems to be ignored, I made my plugin using VisionKit on iOS and another lib on android to scan documents

[2021-12-09 15:16] eydun opened #69 "PhotoLibrary or camera only?"
Does this plugin work with photo library images, or is it camera only?

[2021-12-09 17:59] sawankumarbundelkhandi commented on #69
The latest version of the library does work with photo picking from the gallery.

[2021-12-09 17:59] #69 closed

[2021-12-23 07:41] XpertWebApp opened #70 "Using edge_detection increasing the app size by a lot"
I am using edge_detection and google_ml_kit library in my project . Increasing the app size 60 to 120 mb . :(

[2021-12-28 11:27] sawankumarbundelkhandi commented on #70
Can you try using ABIs Filters? - https://developer.android.com/ndk/guides/abis#gc

[2021-12-28 11:28] sawankumarbundelkhandi commented on #70
Also, is your issue similar to this? https://github.com/sawankumarbundelkhandi/edge_detection/issues/51

[2021-12-30 17:59] sschwartz0 opened #71 "Camera button doesn't do anything"
First off, thank you for your work on this.

When I'm in preview mode pressing the camera button doesn't do anything. Selecting from gallery works fine.

[2021-12-31 16:22] ImaThanusan opened #72 "Review screen truncation issue"
Since moving to Flutter channel stable 2.8.1 and edge detection 1.07(from pre-null safety) there has been an issue with the review screen page (see photo).

The bottom of the "Review" screen gets cut-off, revealing the bottom navigation bar of the app. This is especially problematic given the bottom nav bar can be interacted with in this state. This occurs when testing on a real device, portrait o

[2022-01-10 14:25] cansavrun opened #74 "closing auto"
How can we add the choice to take photos automatically or manually in ios?

[2022-01-12 11:43] kamran8545 opened #75 "Croping Screen is crashing which is causing app to crash when selecting particular image."
**Here is the image which causing it to crash.**

1. https://drive.google.com/file/d/1vxj_d4mrPjg0BPqozcdQ6R3t7JvM84gn/view?usp=sharing

**I have traced this issues in scan/ScanActivity.kt on function onImageSelected(), on line mPresenter.detectEdge(pic);
it is getting crashed. Here is the exception that I am getting while selection image.**

java.lang.RuntimeException: Failure delivering result R

[2022-01-15 05:01] Rezki-Pratama commented on #53
if I change minifyEnabled false its work for me

[2022-01-15 20:18] cansavrun commented on #72
I also need a solution for this problem.

[2022-01-17 21:05] espbee opened #76 "Any chance you might update WeScan to its latest version?"
@sawankumarbundelkhandi  ,
hi again thanks for this lib, it's extremely helpful.

I get XCode warnings about functions in WeScan and I think this lib is using an older-than-current version? Is it possible that you'd be able to update?

Thanks.

[2022-01-18 08:45] sawankumarbundelkhandi commented on #76
I am already using the latest version of the WeScan SDK. Check here - https://github.com/sawankumarbundelkhandi/edge_detection/blob/master/ios/edge_detection.podspec

[2022-01-18 09:34] hypernova1 opened #77 "How to crop an image in original image ratio from the gallery in Android"
@sawankumarbundelkhandi

hello.

sorry my English is not good...

I've been trying to crop image in my project. (Android!!)

As far as I know, default function of edge_detection works only for smartphone device ratio.

But I want to get photos from photo library and crop images in original image ratio such as 16:9, not device ratio.

How can I do it? Please help me........

[2022-01-18 14:38] espbee commented on #76
My fault, misread, forgive the interruption. Hope all's well.

[2022-01-18 14:38] #76 closed

[2022-01-22 02:55] willisra opened #78 "value of type 'UITabBar' has no member 'scrollEdgeAppearance'"
Hi,

I'm getting this error at Xcode build

[code]
Is this a problem that only happens when building/deploying to the simulator?

Is there an easy solution to this?

Thanks!

[2022-01-22 03:25] #78 closed

[2022-01-24 11:09] #77 closed

[2022-01-30 15:53] mev007 commented on #77
@hypernova1 Did you find an answer?

[2022-02-03 08:02] #64 closed

[2022-02-03 19:01] #67 closed

[2022-02-07 11:20] faizflutter opened #81 "UI is in Native Java and not customizable using Flutter"
Hi, Kudos to you for this package. As this package has UI build in Native and we cannot customize it in Flutter. I am here to know that if there is any way to just use my own UI in Flutter and rest of the detection using this package.?

Urgently seeking help Thanks.

[2022-02-08 15:37] sawankumarbundelkhandi commented on #81
@faizflutter the only way you can do this is forking the project and changing the UI accordingly and using your fork directly in pubspec.

[2022-02-08 15:39] sawankumarbundelkhandi commented on #75
@kamran8545 I am not sure but maybe the image that you are cropping itself is very small.

[2022-02-11 01:10] saelco opened #82 "Sometimes error when scan image from any folder in Android"
I scan image from a folder and everything is ok. But when I scan image from another folder like Screenshoots folder, I get error like it:

I/ExifInterface_JNI( 5112): Raw image not detected
W/ExifInterface( 5112): Invalid image: ExifInterface got an unsupported image format file(ExifInterface supports JPEG and some RAW image formats only) or a corrupted JPEG file to ExifInterface.
W/ExifInterface(

[2022-02-13 11:45] ImaThanusan commented on #65
Hi, @sawankumarbundelkhandi - many thanks for developing this great package 😊

Do you know if there is a solution for bottom of the Review Screen being cropped off (shown in your photo #4, issue #72)?

One workaround I can think of is to remove the bottom nav bar and turn background to black when calling the edge detection function

Is there a more elegant solution to this that you are aware of th

[2022-02-14 05:03] ramsmart-inno opened #83 "Edges are not detected properly."
https://user-images.githubusercontent.com/72604311/153803128-c13afff7-fc0e-4147-9e33-5975a9d96024.mp4

how to fix this issue.

[2022-02-15 03:33] kamran8545 commented on #75
Yes it is very small. but you handle it by catching exception. It is
occuring in ScanActivity.kt in onImageSelected() in line
mPresenter.detectEdge(pic);.

You can handle it here or you can handle where it is causing it.

On Tue, Feb 8, 2022 at 8:39 PM Sawan Kumar Bundelkhandi <
***@***.***> wrote:

[2022-02-18 13:10] sawankumarbundelkhandi commented on #72
@ImaThanusan  @cansavrun  I am able to recreate this issue. I need to still find a fix for it.

[2022-02-25 15:01] sawankumarbundelkhandi commented on #72
@ImaThanusan  @cansavrun  I just found out that it's the issue with the WeScan plugin itself. https://github.com/WeTransfer/WeScan/issues/328

[2022-02-25 15:01] sawankumarbundelkhandi commented on #65
@Zhanerkeb @ImaThanusan it's issue with the WeScan plugin itself - https://github.com/WeTransfer/WeScan/issues/328

[2022-02-25 15:06] sawankumarbundelkhandi commented on #74
I have fixed this in the latest commit.

Meanwhile, you can use it directly from Github like this

In pubspec, specify dependency like below

[code]

[2022-02-25 15:06] #74 closed

[2022-02-25 16:10] sawankumarbundelkhandi commented on #66
I have fixed this.

Meanwhile, you can use it directly from Github like this

In pubspec, specify dependency like below

[code]

[2022-02-25 16:52] sawankumarbundelkhandi commented on #83
Similar to this - https://github.com/KePeng1019/SmartPaperScan/issues/21

[2022-02-27 13:48] cansavrun commented on #72
Hi @sawankumarbundelkhandi, First of all, thank you for your all effort. I really appreciate it. Someone find a solution I think.
In this [link](https://github.com/WeTransfer/WeScan/issues/328#issuecomment-1050998706).

[2022-02-27 23:23] cansavrun commented on #74
Thank you so much!

[2022-02-28 07:34] sawankumarbundelkhandi commented on #31
There is a flash button now to enable the flash during camera view.

[2022-02-28 07:34] #31 closed

[2022-02-28 08:08] sawankumarbundelkhandi commented on #70
I have decreased the plugin size by just pushing armeabi-v7a ABI

[2022-03-07 20:46] akash29071994 opened #85 "java.lang.UnsatisfiedLinkError: dlopen failed: library "libopencv_java3.so" not found"

[2022-03-08 08:12] sawankumarbundelkhandi commented on #85
@akash29071994 are you using the plugin from pub.dev version or directly from github? which phone are you using?

[2022-03-08 08:32] kairon007 commented on #85
Getting the same issue as above

[2022-03-08 09:01] RamboFisk commented on #85
Had the same issue when using the pub.dev version. It seems to work if you put the github repo directly as source

[2022-03-08 10:09] sawankumarbundelkhandi commented on #85
@akash29071994 @kairon007 @RamboFisk  let me check the issue. I am not sure of what's happening

[2022-03-08 10:56] sawankumarbundelkhandi commented on #85
I have fixed the issue. Please try edge_detection: ^1.0.9 from pub.dev

[2022-03-08 10:56] #85 closed

[2022-03-08 14:35] sawankumarbundelkhandi commented on #70
I have again added armeabi-v8a to fix - https://github.com/sawankumarbundelkhandi/edge_detection/issues/85

[2022-03-16 02:41] somarok commented on #82
I've same problem. Is there anyone fixed this problem?

[2022-03-26 23:35] JulianBissekkou commented on #81
I think it makes sense to provide a flutter APIs where the user can style the native components.

[2022-04-15 19:58] cansavrun opened #86 "Closing swipe left gesture"
Hi, I realized that when I try to crop the image sometimes it is going back because of the swipe left gesture. How can I solve this issue? Thanks in advance.

[2022-06-22 07:28] MohamedCharaabi opened #87 "Can't detect package after Flutter upgrade to 3.0.2"
After upgrading Flutter SDK from 3.0.1 to 3.0.2 I have encountered this error :
[code]

[2022-06-22 09:08] sawankumarbundelkhandi commented on #87
I just ran the example sample from the repository and it just ran fine.
I have even created a new sample to test and it's working fine as well. I have attached it here.

[flutter_application_1.zip](https://github.com/sawankumarbundelkhandi/edge_detection/files/8956160/flutter_application_1.zip)

![image](https://user-images.githubusercontent.com/10863510/174990594-b3a3ff86-77a4-4e0d-bf9d-5bafa00b6

[2022-06-22 09:08] #87 closed

[2022-06-26 15:53] sinanhaci opened #88 "OpenCV error: Cannot load info library for OpenCV"
Hi,

I'm getting this error on the Android side, do you have a solution for this?

Flutter version: 3.0.2,
Package version: 1.0.9,
Platform: Android

`
D/OpenCV/StaticHelper(20853): Trying to get library list
E/OpenCV/StaticHelper(20853): OpenCV error: Cannot load info library for OpenCV
D/OpenCV/StaticHelper(20853): Library list: ""
D/OpenCV/StaticHelper(20853): First attempt to load libs
D/OpenC

[2022-06-27 08:58] sawankumarbundelkhandi commented on #88
Can you check similarly reported issues here? - https://github.com/sawankumarbundelkhandi/edge_detection/issues?q=is%3Aissue+OpenCV+error%3A+Cannot+load+info+library+for+OpenCV

Is this a debug run or release run issue?

[2022-06-27 10:24] sinanhaci commented on #88
Yes, actually I checked yesterday before reporting the issue but it didn't work. Now it worked when I tried it on a different real device. Thank you

[2022-06-27 10:24] #88 closed

[2022-06-29 02:56] huylethanh opened #89 "wift Compiler Error (Xcode): Could not find module 'WeScan' for target 'arm64-apple-ios-simulator'; found: x86_64-apple-ios-simulator"
I got the issue when try to run the app after install the package in IOS simulator, i got the error like
wift Compiler Error (Xcode): Could not find module 'WeScan' for target 'arm64-apple-ios-simulator'; found: x86_64-apple-ios-simulator

I found in the edge_detection.podspec, there is the line
s.pod_target_xcconfig = { 'DEFINES_MODULE' => 'YES', 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'i386' }

[2022-07-07 14:12] sawankumarbundelkhandi opened #92 "Gallery mode does not work"
### Discussed in https://github.com/sawankumarbundelkhandi/edge_detection/discussions/80

<div type='discussions-op-text'>

<sup>Originally posted by **mev007** January 30, 2022</sup>
Good day!
Image gallery mode opens, photos are viewed, but after selecting a photo it does not appear on the screen to select and crop the document (object)</div>

[2022-07-12 14:19] alionurozdemir opened #93 "Can i cut only in rectangular shape?"
Hi, Can you only select rectangular? (4 selection points)
So can I add multiple points?
How do I do this? (Note: I want to cut a profile photo.)

Thanks.

[2022-07-14 17:41] federicolucca opened #94 "File does not exist"
Hi All,

i have this lines of code

EdgeDetection.useInternalStorage(true);
String? imagePath = await EdgeDetection.detectEdge;

that give me to the log "File does not exist"

someone can help?

[2022-07-15 09:39] ManjunathVMK opened #95 "Runtime App crash when trying to crop the scanned image"
ava.lang.RuntimeException: Canvas: trying to draw too large(136666408bytes) bitmap.
        at android.graphics.RecordingCanvas.throwIfCannotDraw(RecordingCanvas.java:280)
        at android.graphics.BaseRecordingCanvas.drawBitmap(BaseRecordingCanvas.java:88)
        at android.graphics.drawable.BitmapDrawable.draw(BitmapDrawable.java:548)
        at android.widget.ImageView.onDraw(ImageView.java:

[2022-07-15 09:54] ManjunathVMK commented on #83
i am also facing same issue

[2022-08-29 06:09] DARK-PROGRAMMER-I opened #98 "Is there a way, we could just bound the camera to detect rectangles within the given range of width and height ?"

[2022-08-29 06:12] DARK-PROGRAMMER-I opened #99 "Bound width and height of detected rectangle?"
Is there a way, we could just bound the camera to detect rectangles within the given range of width and height?
As of now, it's detecting small rectangles within the same rectangle, which is useless.

[2022-08-29 06:21] DARK-PROGRAMMER-I commented on #71
Use an emulator with API level 30.
On API level 31, it's not working.

[2022-09-01 12:17] Zhanerkeb opened #100 "Update pub dev"

[2022-09-01 12:26] xhayankhan opened #101 "Android 12 Build Failed"
Failure [-127: Package com.sample.edgedetectionexample attempting to declare permission android.permission.FLASHLIGHT in non-existing group android.permission-group.HARDWARE_CONTROLS]

[2022-09-05 08:01] sawankumarbundelkhandi commented on #98
duplicate of #99

[2022-09-05 08:01] #98 closed

[2022-09-05 08:04] sawankumarbundelkhandi commented on #101
please have a look at this - https://stackoverflow.com/a/70665782.

I will also make the changes in the plugin.

[2022-09-16 02:04] AhmadHusein5853 opened #103 "pressing save button more than once"
**FATAL EXCEPTION**
by pressing the save button more than one time (very quick)

![grafik](https://user-images.githubusercontent.com/74105989/190540130-18e8850e-9928-462e-862e-29b25395021a.png)

[2022-09-16 14:46] AhmadHusein5853 commented on #103
a fix for this could be by adding this line

[code]

in "CropActivity.kt"

![grafik](https://user-images.githubusercontent.com/74105989/190666373-b1f5e902-143d-4242-ac8c-b6dbcc60f66a.png)

[2022-09-21 12:03] sawankumarbundelkhandi commented on #103
@AhmadHusein5853 can you do a PR please?

[2022-09-23 00:45] mashood100 opened #106 "adding a custom button overlay"
There is no support for adding customization on the camera screen.

[2022-09-26 14:00] #103 closed

[2022-09-26 14:00] #101 closed

[2022-10-11 11:52] PushpTAN opened #107 "The done and reverse buttons are not opaque on the cropped picture view screen"

[2022-10-11 11:55] PushpTAN commented on #107
Whenever you are passed on from detection screen to the view image screen, the tick button cannot be seen. The theme is not reflecting on the page

[2022-10-20 23:26] UlanNurmatov opened #108 "Add a separate method for gallery pictures"
Currently pictures from gallery can be chosen from camera view.
Can you add a separate method which lets you pick a picture from gallery without opening a camera?
Something like **EdgeDetection.detectEdgeFromGallery;**

[2022-11-10 06:33] manil-anilabsinc commented on #46
may I know it currently it working fine are not actually
 client send same issue in iPad plss give me any solution for this iPad orientation I think  pod will update it working fine are not

[2022-11-10 09:25] giroskii opened #109 "ios select gallery image crop has error"
When you run the git example file, an error appears when you select a picture in the gallery.
Android has not been tested.

The code in Pub.dev works.

[code]

[2022-11-12 21:51] steveroseik opened #110 "Pub dev out of date"
cannot use parameters as in your main.dart

[2022-11-20 22:46] AhmadHusein5853 opened #111 "FATAL EXCEPTION: by select from Gallery option"
the user can select videos from the Gallery causing a crash

![grafik](https://user-images.githubusercontent.com/74105989/202930338-be0ca690-e0ed-4f2b-8725-a4500022c26f.png)

[2022-11-22 07:11] #111 closed